.table_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin: 4rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid lightgray;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}
th {
  background-color: gray;
}
.email {
  color: blue;
}
.search_bar {
  width: 180px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  padding-left: 10px;
}
.name {
  cursor: pointer;
}
